html, body {
  overflow-x: hidden;
}

body > .hd {
  z-index: 3;
}

.ui-autocomplete {
  z-index: 3 !important;
}

body > .bd {
  margin-top: 107px;
  margin-bottom: 15px;
}


body > .ft {
  position: fixed;
  bottom: 0px;
  height: 20px;
  text-align: right;
  width: 100%;
}

.popover {
  z-index: 1000;
}

.popover-inner {
  width: 230px;
}

.popover img {
  height: 30px;
}
