html, body {
  overflow-x: hidden;
}

body > .hd {
  z-index: 3;
}

.ui-autocomplete {
  z-index: 3 !important;
}

body > .bd {
  margin-top: 70px;
  margin-bottom: 15px;
}

body > .ft {
  position: fixed;
  bottom: 0px;
  height: 20px;
  text-align: right;
  width: 100%;
}

.popover {
  z-index: 1000;
}

.popover-inner {
  width: 230px;
}

.popover img {
  height: 30px;
}


.resultitem {
  clear: both;
  margin: 5px 0px;
  height: 20px;
}

 .resultitem div {
  float: left;
}

.resultitem div:first-child {
  min-width: 108px;
  text-align: left;
  padding-left: 15px;
}

.resultitem .resultiteminfo{
  margin-left: 20px;
}

.resultitem .resultiteminfo span{
  margin-right: 10px;
}