html, body {
  overflow-x: hidden;
}

body > .hd {
  z-index: 3;
}

.ui-autocomplete {
  z-index: 3 !important;
}

body > .bd {
  margin-top: 70px;
  margin-bottom: 20px;
}

body > .ft {
  position: fixed;
  bottom: 0px;
  height: 20px;
  text-align: right;
  width: 100%;
}

.loading:before {
  background: transparent;
  content: url("../img/ajax-loader.gif");
  width: 100%;
  height: 100%;
  z-index: 1;
  min-width: 100px;
  min-height: 100px;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.loading:after {
  background: transparent;
  content: 'Loading...';
  width: 100%;
  height: 100%;
  z-index: 1;
  min-width: 100px;
  min-height: 100px;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 70px;
  left: 6px;
  font-weight: lighter;
  font-size: 17px;
}

.loading {
  position: relative;
  min-height: 100px;
  min-width: 200px;
}

.popover {
  z-index: 1000;
}

.popover-inner {
  width: 230px;
}

.popover img {
  height: 30px;
}


.resultitem {
  clear: both;
  margin: 5px 0px;
  height: 20px;
}

 .resultitem div {
  float: left;
}

.resultitem div:first-child {
  min-width: 108px;
  text-align: left;
  padding-left: 15px;
}

.resultitem div:first-child.resultiteminfo {
  margin: 0px;
  padding-left: 0px;
}

.resultitem .resultiteminfo{
  margin-left: 20px;
}

.resultitem .resultiteminfo span{
  margin-right: 10px;
}
