.bd > .nav-pills {
  float: left;
  width: 108px;
  margin-left: 20px;
  margin-top: 30px;
}

#navbar {
  position: fixed;
}

.bd > .container {
  float: left;
  margin-left: 200px;
  width: 800px;
  margin-top: 30px;
}

.anchor {
  text-decoration: none;
}

.anchor h1 {
  font-size: 36px;
}

.anchor:hover {
  text-decoration: none;
  color: #08C;
}

.information h1 {
  font-size: 24px;
}