body {
  margin-left: 0px;
  width: 100%;
}

#school {
  width: 800px;
  margin-bottom: 20px;
}

#school .form h3 {
  margin: 10px;
}

#edit {
  float: right;
}

#school .form  {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 768px;
}

.school .sublist {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}

.school .sublist_title {
  background: black;
  color: white;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 20px;
  padding: 5px;
}


.department > .accordion-toggle > .name {
  height: 16px;
  width: 750px;
  padding: 10px;
  line-height: 120%;
  font-size: 18px;
  padding-left: 30px;
  background: transparent url("../img/arrow-right-big.png") 10px 11px no-repeat;
}

.faculty > .accordion-toggle > .name {
  height: 10px;
  padding: 10px;
  line-height: 120%;
  font-size: 18px;
  padding-left: 20px;
  background: transparent url("../img/arrow-right-small.png") 9px 13px no-repeat;
}

.department.expanded > .accordion-toggle > .name {
  background: transparent url("../img/arrow-down-big.png") 7px 16px no-repeat;
}

.faculty.expanded > .accordion-toggle > .name {
  background: transparent url("../img/arrow-down-small.png") 5px 15px no-repeat;
}

.department .sublist {
  width: 730px;
  margin-top: 15px;
}

.department .accordian-inner {
  padding: 10px;
}

.faculty {
  width: 698px;
}

.faculty .accordion-toggle .name {
  width: 641px;
  height: 10px;
  font-size: 14px;
}

.accordion-group {
  border-width: 0px 0px 1px 0px ;
  margin-bottom: 0px;
}

label {
  float: left;
  font-size: 13px;
  font-weight: bold;
  margin-right: 30px;
  width: 120px;
  position: relative;
  top: 5px;
  text-align: right;
}

.button-group {
  margin-left: 100px;
  margin-top: 10px;
  clear: both;
}

#school .error {
  border-color: red;
  -webkit-box-shadow:  0 0 3px red;
  -moz-box-shadow:  0 0 3px red;
  box-shadow:  0 0 3px red;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -ms-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
}

.school .sublist {
  width: 810px;
}

.department .sublist {
  width: 700px;
}

.school .scores {
  height: 65px;
  width: 600px;
  clear: both;
}

.school  .scores .title {
  font-size: 11px;
  font-weight: bold;
}

.school  .score {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  float: left;
  margin-left: 3px;
}

.school .score .exam {
  background: black;
  color: white;
  font-weight: bold;
}

.faculty .title {
  font-size: 10px;
  font-style: italic;
}

.btn.active {
  background-color: #0074CC;
  background-image: -ms-linear-gradient(top, #08C, #05C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
  background-image: -webkit-linear-gradient(top, #08C, #05C);
  background-image: -o-linear-gradient(top, #08C, #05C);
  background-image: -moz-linear-gradient(top, #08C, #05C);
  background-image: linear-gradient(top, #08C, #05C);
  background-repeat: repeat-x;
  border-color: #05C #05C #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.form b {
  text-decoration: underline;
}

.input_score {
  clear: both;
}

.address_information input {
  float: left;
}

.other label {
  width: 205px;
  position: relative;
  top: 2px;
}

.other  {
  margin-bottom: 20px;
  clear: both;
}

.faculty_form {
  width: 650px;
}

.faculty_form .name input {
  width: 153px;
}

.faculty_form .title {
  font-size: 13px;
  font-style: normal;
}

.form .edit {
  float: right;
  margin-right: 10px;
}

.form .delete {
  float: right;
}

ul.tagedit-list {
  background: white;
}

.form .tagedit-list li.tagedit-listelement-new input {
  margin-bottom: 0;
}

.input_score input {
  width: 40px;
}

.input_score b {
  margin-left: 35px;
}

.input_score div {
  float: left;
}

.input_score .resultiteminfo {
  margin-top: 7px;
}

.form_title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.item {
  width: 300px;
}

.tagedit-list {
  margin-bottom: 9px;
}

#school .btn {
  margin: 10px;
}

#school .btn-mini {
  margin: 0px;
}


