body {
  padding-top: 105px;
}

.item-image {
  float: right;
  margin-right: 10px;
}

.item-name {
  vertical-align: middle;
  display: table-cell;
  height: auto;
}

.bd.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#searchinfo {
  color: #999;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 57px;
  border-bottom: 1px solid #DEDEDE;
  display: table-cell;
  vertical-align: middle;
  width: 600px;
  display: none;
}

#searchlist {
  padding: 10px;
  position: relative;
  overflow: hidden;
  float: right;
}

#searchresults {
  margin-top: 10px;
  height: 100%;
  overflow: auto;
}

#searchlist .searchresult {
  margin-left: 10px;
  width: 600px;
  position: relative;
}

#searchlist .searchresult h3 {
  line-height: 15px;
  margin-top: 5px;
  margin: 5px 0;
}
#searchlist .searchresult .faculty h5 {
  line-height: 10px;
  margin-top: 2px;
}

#searchlist .searchresult .resultitem {
  clear: both;
  margin-bottom: 5px;
}

#searchlist .searchresult .resultitem h4 {
  line-height: 15px;
  margin: 5px 0px;
}

#searchlist h1, h5   {
  text-decoration: underline;
}

#searchlist .searchresult .address,
#searchlist .searchresult .info {
  font-size: 10px;
  font-style: italic;
}

.searchresult .resultiteminfo {
  margin-left: 10px;
}

.searchresult .faculty {
  margin-bottom: 8px;
}

#searchlist .searchresult .scores {
  height: 65px;
  width: 600px;
}

#searchlist .searchresult .scores .title {
  font-size: 11px;
  font-weight: bold;
}

#searchlist hr {
  width: 600px;
  border-top-color: #CCC;
  margin: 15px 0;
}

#searchlist .searchresult .score {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  float: left;
  margin-left: 3px;
}

#searchlist .searchresult .score .exam {
  background: black;
  color: white;
  font-weight: bold;
}

.searchresult .faculty .title {
  font-size: 10px;
  font-style: italic;
}

#filters {
  padding: 5px;
  position: fixed;
}

#filters .filter {
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 5px;
}

#filters .filter .hd {
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 0px;
  border-radius: 5px 5px 0 0;
  color: #B2F289;
  text-shadow: 2px 1px 3px black;
}

#filters .filter .hd span {
  margin-left: 7px;
  position: relative;
  top: 2px;
}

#filters .filter .bd {
  padding: 5px;
}

#filters .filter .bd .label {
}

#filters .filter .bd .label.unchecked {
  background: transparent;
  color: #666;
}

#filters input[type="number"] {
  width: 120px;
  margin-left: 4px;
}

#filters input[type="text"] {
  width: 160px;
}

#others span {
  position: relative;
  top: 2px;
}

.label {
  margin: 3px 0;
}

.label .btn.active {
  background-color: #0074CC;
  background-image: -ms-linear-gradient(top, #08C, #05C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
  background-image: -webkit-linear-gradient(top, #08C, #05C);
  background-image: -o-linear-gradient(top, #08C, #05C);
  background-image: -moz-linear-gradient(top, #08C, #05C);
  background-image: linear-gradient(top, #08C, #05C);
  background-repeat: repeat-x;
  border-color: #05C #05C #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.label div:first-child {
  position: relative;
  top: 4px;
  width: 110px;
  float: left;
}