<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>School Musica</title>
    <link rel="stylesheet" href="css/reset.min.css" type='text/css'>    
    <link rel="stylesheet" href="css/jquery-ui-1.8.21.custom.css" type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css" type='text/css'>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" type='text/css'>
    <link rel="stylesheet" href="css/gradients.css" type='text/css'>
    <link rel="stylesheet" href="css/common.css" type='text/css'>   
    <link rel="stylesheet" href="css/search.css" type='text/css'>   
  </head>
  <body>
    <div class="hd blue-gradient">
      <div class="logo">
        <a href="index.html">
          <img src="img/logo2.png" alt="Logo"></img>
        </a>
      </div>
      <div class="searchfield">
        <input type="text" id="searchinput" placeholder="Search for an academic program/specialization"></input>
        <div id="searchbutton"><button></button></div>
      </div>
    </div>
    <div class="bd container-fluid gray-gradient">
      <div class="row-fluid ">
        <div id="filters" class="span2">
          <form>
            <div id="states" class='filter'>
              <div class='hd blue-gradient'>
                <span>State</span>
              </div>
              <div class='bd'>
                <input id="stateAC" name="stateAC" type="text" ></input>
                <input type="hidden" class="filterInput" id="state" name="state"></input>
              </div>
            </div>
            <div id="scores" class='filter'>
              <div class='hd blue-gradient'>
                <span>Minimum Scores</span>
              </div>
              <div class='bd'>
                <div id="sat_score" class='label unchecked'>
                  <span>SAT</span>
                  <input id="satMin" class="filterInput" type="number" name="satMin" value="0" min="0" max="800"></input>
                </div>
                <div id="gre_score" class='label unchecked'>
                  <span>GRE</span>
                  <input id="greMin" class="filterInput" type="number" name="greMin" value="0"  min="0" max="1600"></input>
                </div>
                <div id="act_score" class='label unchecked'>
                  <span>ACT</span>
                  <input id="actMin" class="filterInput" type="number" name="actMin" value="0"  min="0" max="2000"></input>
                </div>  
              </div>                
            </div>
            <div id="others" class='filter'>
              <div class='hd blue-gradient'>
                <span>Other</span>
              </div>
              <div class='bd'>
                <div id="musicMinor" class='label unchecked'>
                  <input type="checkbox" class="filterInput" id="musicMinorAvailable" name="musicMinorAvailable"></input>
                  <span>Music Minor</span>
                </div>
                <div id="graduateProgram" class='label unchecked'>
                  <input type="checkbox" id="graduateProgramAvailable" name="graduateProgramAvailable" class="filterInput"></input>
                  <span>Graduate Program</span>
                </div>
                <div id="schoolershipAvailable" class='label unchecked'>
                  <input type="checkbox" class="filterInput" id="schoolershipAvailable" name="schoolershipAvailable"></input>
                  <span>Graduate Program</span>
                </div>
              </div>
              </div>
          </form>
        </div>
        <div id="searchlist" class="span10">
           <div id="searchinfo"></div>
           <div id="searchresults"></div>
        </div>
      </div>
    </div>
    <div class="ft"></div>
    <script type="text/javascript" src="js/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/search.js"></script>
    <script id="searchResultSchoolTemplate" type="text/x-jquery-tmpl"> 
      <div class='searchresult' id=${domId} >
        <h2>${name}</h2>
        <div class='department_list'></div>
      </div>
    </script>
    <script id="searchResultDepartmentTemplate" type="text/x-jquery-tmpl"> 
      <div class='department'>
        <h3><a href="${departmentUrl}">${departmentName}</a></h3>
        <div class='address'>
          ${address} ${city} ${state}-${zip}
        </div>
        <div class="resultitem scores">
           <h4>Minimum Scores Required</h4>
           <div class='resultiteminfo'>
             <div class="score">
               <div class="exam">SAT</div>
               <div class="min">${satMin}</div>
             </div>
             <div class="score">
               <div class="exam">GRE</div>
               <div class="min">${greMin}</div>
             </div>
             <div class="score">
               <div class="exam">ACT</div>
               <div class="min">${actMin}</div>
             </div>
           </div>
        </div>
        <div class="resultitem">
          <h4>Other Information</h4>
          <div class='resultiteminfo'>
            <div><u>Music Minor Available:</u> {{if musicMinorAvailable}}Yes{{else}}No{{/if}}</div>
            <div><u>Graduate Program Available:</u> {{if graduateProgramAvailable}}Yes{{else}}No{{/if}}</div>
            <div><u>Scholarship Available:</u> {{if schoolershipAvailable}}Yes{{else}}No{{/if}}</div>
          </div>
        </div>        
      </div>
      <hr></h3>
    </script>
    <script type="text/javascript">
       $(document).ready( function() {
         var search = new Search();
         search.init();
       });
    </script>
  </body>
</html>

