<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
       default-lazy-init="true">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>
    
     <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">   
         <property name="configLocation" value="classpath:ehcache.xml" />    
    </bean> 
    
  
 	<bean id="musicschoolDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://schoolmusica.c2vvz1kuxxih.us-west-2.rds.amazonaws.com/schoolmusica"/>
		<property name="username" value="schoolmusica"/>
		<property name="password" value="12Khojme"/>
		<property name="maxActive" value="30"/>
		<property name="minIdle" value="5"/>
		<property name="validationQuery" value="select 1 from dual"/>
	</bean> 
	
<!--   <bean id="musicschoolDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/schoolmusica"/>
		<property name="username" value="root"/>
		<property name="password" value=""/>
		<property name="maxActive" value="30"/>
		<property name="minIdle" value="5"/>
		<property name="validationQuery" value="select 1 from dual"/>
	</bean>
 -->
	<bean id="mySessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="musicschoolDataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.khatu.musicschool.model.MusicSchool</value>
				<value>com.khatu.musicschool.model.Department</value>
				<value>com.khatu.musicschool.model.Program</value>
				<value>com.khatu.musicschool.model.Method</value>
				<value>com.khatu.musicschool.model.Style</value>
				<value>com.khatu.musicschool.model.Faculty</value>
				<value>com.khatu.musicschool.model.SchoolAdmin</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
		       <prop key="hibernate.hbm2ddl.auto">update</prop> 
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop> 
				<prop key="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</prop>  
				<prop key="hibernate.search.default.directory_provider">filesystem</prop>
				<prop key="hibernate.search.default.indexBase">/var/lucene/indexes</prop> 
			</props>
		</property>
	
	</bean>
	
	
	
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="mySessionFactory"/>
		</property>
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<bean id="txManager"  class="org.springframework.orm.hibernate3.HibernateTransactionManager">
	    <property name="sessionFactory">
	         <ref local="mySessionFactory"/>
	    </property>
  	</bean>
    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.khatu.musicschool"/>

</beans>